*{
    font-family: sans-serif;
}

.titre-nongras{
    font-weight: normal;
    font-size: 0.8em;
}

h1{
    color: black;
        
}

#formulaire{
    border: 1px hidden grey;
    background-color: blue;
    width: 28em;
    background-color: blue;
    border-radius: 15px;    
    margin-bottom: 1.8em;
}

#formulaire i{
    width: 4em;
    text-align: center;
    padding-top: 1em;
    border-radius: 20px;
}

#formulaire input{
    width: 25em;
    font-weight: bold;
    color: black;
    font-size: 1em;
}


.bouton{
    width: 200px;
    text-align: center;
    font-size: 1em;
}

.bouton a{
    color: white;
    text-decoration: none;
    font-weight: bold;
        
}
.form{
    display: flex;
}
.form i{
    background-color: rgba(242,242,242,255);
}

header{
    display: flex;
    justify-content: space-between;
}

header nav{
    width: 23em;
    display: flex;
    justify-content: space-between ;
}

header nav a{
    padding-left: 1em;
    text-decoration: none;
    color: #3b89fd;
}

#filter{
    display: flex;
    width: 45em;
    }

.filter-categories{
    display: flex;
    
}
.filter-categories {
    padding-top: 0.3em;

}
.btn{
    border: #d9d9d9 solid 1px;
    font-weight: bold;
    height: 2.85em;
    background-color: white;
    border-radius: 20px;
    margin-left: 2em;
}
.btn i{
    background-color: #deebff;
    padding: 0.8em;
    border-radius: 20px;
    margin-right: 0.5em;
    color: #0065fc;
}
.info .fas{
  
    border: solid 2px #d9d9d9;
    border-radius: 20px;
    padding: 0.4em;
}


